body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: wheat;
}

img {
  box-shadow: 2px 2px 5px #999;
  border-radius: 10%;
}

h1 {
  color: blue;
}

li {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}
